# Logs folder
models/
logs/
logs-old/
*.log
plots/script_plots/*
plots/notebook_plots/*

# Temporary model files
models-old/
notebooks/
notebooks/models/

# Scratch folder
scratch/

# IDE
.idea/

# mypy
.mypy_cache/
mypy.out

# yapf
yapf.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution and packaging
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# JSON checkpoints
opt_chkpt.json
opt_ckpt.json
